html {
    height: 100%;
}

body {
    background-color: rgba(188, 255, 236, 0.999);
    margin: 0;
    border: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
}

h1 {
    font-size: 50px;
}

.banner {
    height: 100px;
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.container {
    margin: 0 auto;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child {
    background-color: rgb(193, 193, 193);
    border-radius: 20px;
    padding: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 30px;
    background-color: #333;
    color: #fff;
    flex-shrink: 0;
}

.footer p {
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 30px;
}