body {
    background-color: rgba(188, 255, 236, 0.999);
    margin: 0;
    border: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 50px;
}

.banner {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child {
    background-color: rgb(193, 193, 193);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}